
/* material-symbols-rounded-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/material-symbols/material-symbols-rounded-v113-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/material-symbols/material-symbols-rounded-v113-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/material-symbols/material-symbols-rounded-v113-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/material-symbols/material-symbols-rounded-v113-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('assets/fonts/material-symbols/material-symbols-rounded-v113-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/material-symbols/material-symbols-rounded-v113-latin-regular.svg#MaterialSymbolsRounded') format('svg'); /* Legacy iOS */
}





:root {
    /*VARIABLES*/
    /*for nav bar*/
    --color-excel2: #185C37;
    --color-excel1: #107C41;
    --color-p1: #7D7DD2;
    --color-p2: #E9E9FF;
    --color-danger: #DF4759;
    --color-background: #FFFFFF;
    /*for buttons*/
    --color-p3: #5555A5;
    /*for background*/
    --color-p4: #F0F0F7;
    --color-p5: #FAF6FF;
    /*for buttons*/
    --color-s1: #A5A555;
    --color-s2: #B9BA7B;
    --color-s3: #E5E6CE;

    --color-b1:#202020;
    --color-b2:#2f2f2f;
    --color-b3:#3f3f3f;


    --color-input: #80868B;
    --color-text: #151111;
    --color-caption: #7d8da1;
    --color-submit: #4B4B4B;
    --color-light: #FAFAFA;
    --color-shadow: rgba(132, 139, 200, 0.18);


    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow:0 4px 4px var(--color-shadow);
}

* {
    margin: 0 ;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html{
    font-size: 14px  !important;;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0,-50px);

}

@media (prefers-reduced-motion:reduce) {
    .modal.fade .modal-dialog {
        transition: none;
    }
}

.modal.show .modal-dialog {
    transform: none;
}

.modal.modal-static .modal-dialog {
    transform: scale(1.02);
}

.modal-dialog-scrollable {
    height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
    max-height: 100%;
    overflow: hidden;
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: var(--border-radius-3);
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: .5;
}

.modal-header {
    background-color: var(--color-p1);
    color: #fff;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: var(--border-radius-3);
    border-top-right-radius: var(--border-radius-3);
}

.modal-header .btn-close {
    padding: .5rem .5rem;
    margin: -.5rem -.5rem -.5rem auto;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.modal-footer>* {
    margin: .25rem;
}

@media (min-width:576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }

    .modal-dialog-scrollable {
        height: calc(100% - 3.5rem);
    }

    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem);
    }

    .modal-sm {
        max-width: 300px;
    }
}

@media (min-width:992px) {
    .modal-lg,.modal-xl {
        max-width: 800px;
    }
}

@media (min-width:1200px) {
    .modal-xl {
        max-width: 1140px;
    }
}

.modal-fullscreen {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
}

.modal-fullscreen .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.modal-fullscreen .modal-header {
    border-radius: 0;
}

.modal-fullscreen .modal-body {
    overflow-y: auto;
}

.modal-fullscreen .modal-footer {
    border-radius: 0;
}

@media (max-width:575.98px) {
    .modal-fullscreen-sm-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .modal-fullscreen-sm-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .modal-fullscreen-sm-down .modal-header {
        border-radius: 0;
    }

    .modal-fullscreen-sm-down .modal-body {
        overflow-y: auto;
    }

    .modal-fullscreen-sm-down .modal-footer {
        border-radius: 0;
    }
}

@media (max-width:767.98px) {
    .modal-fullscreen-md-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .modal-fullscreen-md-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .modal-fullscreen-md-down .modal-header {
        border-radius: 0;
    }

    .modal-fullscreen-md-down .modal-body {
        overflow-y: auto;
    }

    .modal-fullscreen-md-down .modal-footer {
        border-radius: 0;
    }
}

@media (max-width:991.98px) {
    .modal-fullscreen-lg-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .modal-fullscreen-lg-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .modal-fullscreen-lg-down .modal-header {
        border-radius: 0;
    }

    .modal-fullscreen-lg-down .modal-body {
        overflow-y: auto;
    }

    .modal-fullscreen-lg-down .modal-footer {
        border-radius: 0;
    }
}

@media (max-width:1199.98px) {
    .modal-fullscreen-xl-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .modal-fullscreen-xl-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .modal-fullscreen-xl-down .modal-header {
        border-radius: 0;
    }

    .modal-fullscreen-xl-down .modal-body {
        overflow-y: auto;
    }

    .modal-fullscreen-xl-down .modal-footer {
        border-radius: 0;
    }
}

@media (max-width:1399.98px) {
    .modal-fullscreen-xxl-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .modal-fullscreen-xxl-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .modal-fullscreen-xxl-down .modal-header {
        border-radius: 0;
    }

    .modal-fullscreen-xxl-down .modal-body {
        overflow-y: auto;
    }

    .modal-fullscreen-xxl-down .modal-footer {
        border-radius: 0;
    }
}

button {
    border-radius: 0;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

button,input,optgroup,select,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,select {
    text-transform: none;
}

[role=button] {
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: var(--border-radius-2);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
}

.btn-check:focus+.btn,.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.btn.disabled,.btn:disabled,fieldset:disabled .btn {
    pointer-events: none;
    opacity: .65;
}

.btn-primary {
    color: #fff;
    background-color: var(--color-p1);
    border-color: var(--color-p1);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--color-p3);
    border-color: var(--color-p3);
}

.btn-check:focus+.btn-primary,.btn-primary:focus {

    box-shadow: 0 0 0 .25rem rgba(125,125,210,.5);
}

/*.btn-check:active+.btn-primary,.btn-check:checked+.btn-primary,.btn-primary.active,.btn-primary:active,.show>.btn-primary.dropdown-toggle {*/
/*    color: #fff;*/
/*    background-color: #0a58ca;*/
/*    border-color: #0a53be;*/
/*}*/
/*BUTTON ACTIVE SHADOW*/
.btn-check:active+.btn-primary:focus,.btn-check:checked+.btn-primary:focus,.btn-primary.active:focus,.btn-primary:active:focus,.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgba(125,125,210,.5);
}

.btn-primary.disabled,.btn-primary:disabled {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
}

.btn-check:focus+.btn-secondary,.btn-secondary:focus {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
    box-shadow: 0 0 0 .25rem rgba(130,138,145,.5);
}

.btn-check:active+.btn-secondary,.btn-check:checked+.btn-secondary,.btn-secondary.active,.btn-secondary:active,.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #565e64;
    border-color: #51585e;
}

.btn-check:active+.btn-secondary:focus,.btn-check:checked+.btn-secondary:focus,.btn-secondary.active:focus,.btn-secondary:active:focus,.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgba(130,138,145,.5);
}

.btn-secondary.disabled,.btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-success {
    color: #fff;
    background-color: #198754;
    /*background-color: var(--color-s);*/
    border-color: #198754;
}

.btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}

.btn-check:focus+.btn-success,.btn-success:focus {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
    box-shadow: 0 0 0 .25rem rgba(60,153,110,.5);
}

.btn-check:active+.btn-success,.btn-check:checked+.btn-success,.btn-success.active,.btn-success:active,.show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #146c43;
    border-color: #13653f;
}

.btn-check:active+.btn-success:focus,.btn-check:checked+.btn-success:focus,.btn-success.active:focus,.btn-success:active:focus,.show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgba(60,153,110,.5);
}

.btn-success.disabled,.btn-success:disabled {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-info {
    color: #fff;
    background-color: var(--color-b3);
    border-color: var(--color-b3);
}

.btn-info:hover {
    color: #fff;
    background-color: var(--color-b2);
    border-color: var(--color-b2);
}

.btn-check:focus+.btn-info,.btn-info:focus {
    color: #fff;
    background-color: var(--color-b2);
    border-color: var(--color-b2);
    box-shadow: 0 0 0 .25rem var(--color-shadow);
}

/*.btn-check:active+.btn-info,.btn-check:checked+.btn-info,.btn-info.active,.btn-info:active,.show>.btn-info.dropdown-toggle {*/
/*    color: #000;*/
/*    background-color: #3dd5f3;*/
/*    border-color: #25cff2;*/
/*}*/

/*.btn-check:active+.btn-info:focus,.btn-check:checked+.btn-info:focus,.btn-info.active:focus,.btn-info:active:focus,.show>.btn-info.dropdown-toggle:focus {*/
/*    box-shadow: 0 0 0 .25rem rgba(11,172,204,.5);*/
/*}*/

.btn-info.disabled,.btn-info:disabled {
    color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.btn-warning {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    color: #000;
    background-color: #ffca2c;
    border-color: #ffc720;
}

.btn-check:focus+.btn-warning,.btn-warning:focus {
    color: #000;
    background-color: #ffca2c;
    border-color: #ffc720;
    box-shadow: 0 0 0 .25rem rgba(217,164,6,.5);
}

.btn-check:active+.btn-warning,.btn-check:checked+.btn-warning,.btn-warning.active,.btn-warning:active,.show>.btn-warning.dropdown-toggle {
    color: #000;
    background-color: #ffcd39;
    border-color: #ffc720;
}

.btn-check:active+.btn-warning:focus,.btn-check:checked+.btn-warning:focus,.btn-warning.active:focus,.btn-warning:active:focus,.show>.btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgba(217,164,6,.5);
}

.btn-warning.disabled,.btn-warning:disabled {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.btn-check:focus+.btn-danger,.btn-danger:focus {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
    box-shadow: 0 0 0 .25rem rgba(225,83,97,.5);
}

.btn-check:active+.btn-danger,.btn-check:checked+.btn-danger,.btn-danger.active,.btn-danger:active,.show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #b02a37;
    border-color: #a52834;
}

.btn-check:active+.btn-danger:focus,.btn-check:checked+.btn-danger:focus,.btn-danger.active:focus,.btn-danger:active:focus,.show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgba(225,83,97,.5);
}

.btn-danger.disabled,.btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-light {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:hover {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
}

.btn-check:focus+.btn-light,.btn-light:focus {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
    box-shadow: 0 0 0 .25rem rgba(211,212,213,.5);
}

.btn-check:active+.btn-light,.btn-check:checked+.btn-light,.btn-light.active,.btn-light:active,.show>.btn-light.dropdown-toggle {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
}

.btn-check:active+.btn-light:focus,.btn-check:checked+.btn-light:focus,.btn-light.active:focus,.btn-light:active:focus,.show>.btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgba(211,212,213,.5);
}

.btn-light.disabled,.btn-light:disabled {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.btn-dark:hover {
    color: #fff;
    background-color: #1c1f23;
    border-color: #1a1e21;
}

.btn-check:focus+.btn-dark,.btn-dark:focus {
    color: #fff;
    background-color: #1c1f23;
    border-color: #1a1e21;
    box-shadow: 0 0 0 .25rem rgba(66,70,73,.5);
}

.btn-check:active+.btn-dark,.btn-check:checked+.btn-dark,.btn-dark.active,.btn-dark:active,.show>.btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #1a1e21;
    border-color: #191c1f;
}

.btn-check:active+.btn-dark:focus,.btn-check:checked+.btn-dark:focus,.btn-dark.active:focus,.btn-dark:active:focus,.show>.btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgba(66,70,73,.5);
}

.btn-dark.disabled,.btn-dark:disabled {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.btn-outline-primary {
    color: var(--color-p1);
    border-color: var(--color-p1);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color:var(--color-p1);
    border-color: var(--color-p1);
}

.btn-check:focus+.btn-outline-primary,.btn-outline-primary:focus {
    box-shadow: 0 0 0 .25rem rgba(85,85,165,.5);
}

.btn-check:active+.btn-outline-primary,.btn-check:checked+.btn-outline-primary,.btn-outline-primary.active,.btn-outline-primary.dropdown-toggle.show,.btn-outline-primary:active {
    color: #fff;
    background-color: var(--color-p1);
    border-color: var(--color-p1);
}

.btn-check:active+.btn-outline-primary:focus,.btn-check:checked+.btn-outline-primary:focus,.btn-outline-primary.active:focus,.btn-outline-primary.dropdown-toggle.show:focus,.btn-outline-primary:active:focus {
    box-shadow: 0 0 0 .25rem rgba(85,85,165,.5);
}

.btn-outline-primary.disabled,.btn-outline-primary:disabled {
    color: #0d6efd;
    background-color: transparent;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-check:focus+.btn-outline-secondary,.btn-outline-secondary:focus {
    box-shadow: 0 0 0 .25rem rgba(108,117,125,.5);
}

.btn-check:active+.btn-outline-secondary,.btn-check:checked+.btn-outline-secondary,.btn-outline-secondary.active,.btn-outline-secondary.dropdown-toggle.show,.btn-outline-secondary:active {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-check:active+.btn-outline-secondary:focus,.btn-check:checked+.btn-outline-secondary:focus,.btn-outline-secondary.active:focus,.btn-outline-secondary.dropdown-toggle.show:focus,.btn-outline-secondary:active:focus {
    box-shadow: 0 0 0 .25rem rgba(108,117,125,.5);
}

.btn-outline-secondary.disabled,.btn-outline-secondary:disabled {
    color: #6c757d;
    background-color: transparent;
}

.btn-outline-success {
    color: #198754;
    border-color: #198754;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-check:focus+.btn-outline-success,.btn-outline-success:focus {
    box-shadow: 0 0 0 .25rem rgba(25,135,84,.5);
}

.btn-check:active+.btn-outline-success,.btn-check:checked+.btn-outline-success,.btn-outline-success.active,.btn-outline-success.dropdown-toggle.show,.btn-outline-success:active {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-check:active+.btn-outline-success:focus,.btn-check:checked+.btn-outline-success:focus,.btn-outline-success.active:focus,.btn-outline-success.dropdown-toggle.show:focus,.btn-outline-success:active:focus {
    box-shadow: 0 0 0 .25rem rgba(25,135,84,.5);
}

.btn-outline-success.disabled,.btn-outline-success:disabled {
    color: #198754;
    background-color: transparent;
}

.btn-outline-info {
    color: #0dcaf0;
    border-color: #0dcaf0;
}

.btn-outline-info:hover {
    color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.btn-check:focus+.btn-outline-info,.btn-outline-info:focus {
    box-shadow: 0 0 0 .25rem rgba(13,202,240,.5);
}

.btn-check:active+.btn-outline-info,.btn-check:checked+.btn-outline-info,.btn-outline-info.active,.btn-outline-info.dropdown-toggle.show,.btn-outline-info:active {
    color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.btn-check:active+.btn-outline-info:focus,.btn-check:checked+.btn-outline-info:focus,.btn-outline-info.active:focus,.btn-outline-info.dropdown-toggle.show:focus,.btn-outline-info:active:focus {
    box-shadow: 0 0 0 .25rem rgba(13,202,240,.5);
}

.btn-outline-info.disabled,.btn-outline-info:disabled {
    color: #0dcaf0;
    background-color: transparent;
}

.btn-outline-warning {
    color: #ffc107;
    border-color: #ffc107;
}

.btn-outline-warning:hover {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-check:focus+.btn-outline-warning,.btn-outline-warning:focus {
    box-shadow: 0 0 0 .25rem rgba(255,193,7,.5);
}

.btn-check:active+.btn-outline-warning,.btn-check:checked+.btn-outline-warning,.btn-outline-warning.active,.btn-outline-warning.dropdown-toggle.show,.btn-outline-warning:active {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-check:active+.btn-outline-warning:focus,.btn-check:checked+.btn-outline-warning:focus,.btn-outline-warning.active:focus,.btn-outline-warning.dropdown-toggle.show:focus,.btn-outline-warning:active:focus {
    box-shadow: 0 0 0 .25rem rgba(255,193,7,.5);
}

.btn-outline-warning.disabled,.btn-outline-warning:disabled {
    color: #ffc107;
    background-color: transparent;
}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-check:focus+.btn-outline-danger,.btn-outline-danger:focus {
    box-shadow: 0 0 0 .25rem rgba(220,53,69,.5);
}

.btn-check:active+.btn-outline-danger,.btn-check:checked+.btn-outline-danger,.btn-outline-danger.active,.btn-outline-danger.dropdown-toggle.show,.btn-outline-danger:active {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-check:active+.btn-outline-danger:focus,.btn-check:checked+.btn-outline-danger:focus,.btn-outline-danger.active:focus,.btn-outline-danger.dropdown-toggle.show:focus,.btn-outline-danger:active:focus {
    box-shadow: 0 0 0 .25rem rgba(220,53,69,.5);
}

.btn-outline-danger.disabled,.btn-outline-danger:disabled {
    color: #dc3545;
    background-color: transparent;
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-outline-light:hover {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-check:focus+.btn-outline-light,.btn-outline-light:focus {
    box-shadow: 0 0 0 .25rem rgba(248,249,250,.5);
}

.btn-check:active+.btn-outline-light,.btn-check:checked+.btn-outline-light,.btn-outline-light.active,.btn-outline-light.dropdown-toggle.show,.btn-outline-light:active {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-check:active+.btn-outline-light:focus,.btn-check:checked+.btn-outline-light:focus,.btn-outline-light.active:focus,.btn-outline-light.dropdown-toggle.show:focus,.btn-outline-light:active:focus {
    box-shadow: 0 0 0 .25rem rgba(248,249,250,.5);
}

.btn-outline-light.disabled,.btn-outline-light:disabled {
    color: #f8f9fa;
    background-color: transparent;
}

.btn-outline-dark {
    color: #212529;
    border-color: #212529;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.btn-check:focus+.btn-outline-dark,.btn-outline-dark:focus {
    box-shadow: 0 0 0 .25rem rgba(33,37,41,.5);
}

.btn-check:active+.btn-outline-dark,.btn-check:checked+.btn-outline-dark,.btn-outline-dark.active,.btn-outline-dark.dropdown-toggle.show,.btn-outline-dark:active {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.btn-check:active+.btn-outline-dark:focus,.btn-check:checked+.btn-outline-dark:focus,.btn-outline-dark.active:focus,.btn-outline-dark.dropdown-toggle.show:focus,.btn-outline-dark:active:focus {
    box-shadow: 0 0 0 .25rem rgba(125,125,210,.5);
}

.btn-outline-dark.disabled,.btn-outline-dark:disabled {
    color: #212529;
    background-color: transparent;
}

.btn-link {
    font-weight: 400;
    color: #0d6efd;
    text-decoration: underline;
}

.btn-link:hover {
    color: #0a58ca;
}

.btn-link.disabled,.btn-link:disabled {
    color: #6c757d;
}

.btn-group-lg>.btn,.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}

.btn-group-sm>.btn,.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: var(--border-radius-1);
}

.fade {
    transition: opacity .15s linear;
}

@media (prefers-reduced-motion:reduce) {
    .fade {
        transition: none;
    }
}

.fade:not(.show) {
    opacity: 0;
}

.collapse:not(.show) {
    display: none;
}











body{
    margin-top: 10px;
    width: 100vw ;
    height: 100vh;
    font-family: "Poppins", sans-serif !important;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-text);
    overflow-y: hidden;
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}


.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
}

.btn-close:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
}

.btn-close:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    opacity: 1;
}

.btn-close.disabled,.btn-close:disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: .25;
}

.btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
}









a{
    color: var(--color-input);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800 ;
    font-size: 1.8rem;
}

h2{
    margin-top: 10px;
    font-size: 20px;
}

h3{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
}
h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    border: 2px solid var(--color-p3);
    width: 2.8rem;
    height:  2.8rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile-photo:hover{
    cursor: pointer;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.text-muted{
    color: var(--color-input);
}

.primary{
    color: var(--color-p1);
}
.primary_light{
    color: var(--color-p2);
}

.primary_button{
    color: var(--color-p3);
}

aside{
    height: 100vh !important;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    position: fixed;
}

aside .logo{
    display: flex ;
    gap: 0.8rem;
}

aside .logo img{
    width: 45px;
    height: 45px;
}

aside .close{
    display: none;
}

/*   ====================SIDEBAR====================   */
aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    top: 1rem;
    position: fixed;
    margin-top: 5rem;
}

aside .h3{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
}

aside .sidebar a{
    display: flex;
    margin-left: 2rem ;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 5rem;
    transition: all 300ms ease;

}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;

}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a:last-child:hover{
    color:var(--color-danger);
}

aside .sidebar a.active{
    background-color: var(--color-p5);
    color: var(--color-p1);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content:"";
    width: 6px;
    height: 100%;
    background-color:var(--color-p1) ;
}

aside .sidebar a.active span{
    color: var(--color-p1);
    margin-left: calc(1rem  - 3px);
}

aside .sidebar a:hover{
    color: var(--color-p1);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}


/* ==================MAIN===================== */
main{
    margin-top: 7rem;
    overflow: hidden;
    padding: 10px;
}
.scrollable-content {
    overflow-y: auto;
    padding: 10px;
    overflow-x:hidden;
    height: 680px;
}

 .header .location{
    color: var(--color-light);

}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    height: 70px;
    background-color: var(--color-p1);
    z-index: -1001;
    position: fixed;
    border-radius: 50px 0px 0px 50px;
    width: calc(100% - 250px); /* Subtracting 180px from 100% */
    left: 250px; /* Set the left position to 180px */
}

.header > * {
    padding: 10px; /* Add padding for better visibility */
}



.profile .text-muted{
    color: var(--color-light);
}

.background{
    background-color: var(--color-p4);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1000;
    margin-top: 80px;
    margin-left: 180px;
    border-radius: 55px 0px 0px 0px;
}

main .greetings{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 180px;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--color-light);
}

.datetime {
    white-space: nowrap;
}

.datetime h2,
.datetime h3 {
    display: inline;
    margin: 0;
}

.datetime h2.date {
    margin-right: 10px;
}

.datetime h3 {
    color:var(--color-light);
    background-color:var(--color-p3);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}


main h2.date{
    color: var(--color-p3);
    font-size: 16px;
    display: inline;
}

main .greetings:hover{
    box-shadow: none;
}

/*Greetings photo*/
main .greetings .greet{
    position: relative;
    display: flex;
    width: 229px;
    height: 145px;
    left: 100px;
    bottom: 10px;
}

 /*Greetings text*/
 .hello{
    color:var(--color-text);
    padding: 0 40px;

}
 .hello h2{
     font-size: 25px;
 }

main .insights {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    /*outline: 1px solid red; !* for debugging purposes *!*/
}

main .insights > div {
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover{
    box-shadow: none;
}

main .insights > div span {
    background-color: var(--color-p1);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-light);
}

main .insights > div span {
    background-color: var(--color-p1);
    color: var(--color-light);
}

main .insights > div.Employees span {
    background-color: var(--color-s2);
    color: var(--color-light);
}

main .insights > div.Departments span {
    background-color: var(--color-p3);
    color: var(--color-light);
}

main .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

main .insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights .svg{
    width: 7rem;
    height: 7rem;
}

main .insights svg circle{
    fill: none;
    stroke: var(--color-light);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px,5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .progress .number{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small{
    color: var(--color-light);
    margin-top: 1.3rem;
    display: block;
}

.insights .Leaves{
    background-color: var(--color-p3);
    color: var(--color-light);
    fill: var(--color-light);
}

.insights .Employees{
    background-color: var(--color-s1);
    color: var(--color-light);
    fill: var(--color-light);
}

.insights .Departments{
    background-color: var(--color-p1);
    color: var(--color-light);
    fill: var(--color-light);
}


/* ==================RECENT LEAVES===================== */
main .recent-leaves{
    padding: 2rem;
}

main .recent-leaves h2{
    margin-bottom: 0.8rem;
}

main .recent-leaves table{
    background-color: var(--color-light) !important;
    width: 100%;
    border-radius: var(--card-border-radius) !important;;
    padding: var(--card-padding) !important;;
    text-align: center !important;;
    box-shadow: var(--box-shadow) !important;;
    transition: all 300ms ease !important;;
}

main .recent-leaves table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-shadow);
    color: var(--color-input);
}

main table tbody td.primary:hover{
    text-decoration: underline;
    font-weight: bold;
}

main table tbody tr:last-child{
    border: none;
}

main .recent-leaves a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-p1);
}

main .recent-leaves a:hover{
    text-decoration: underline;
    font-weight: bold;
}


/* ================== RIGHT ===================== */
.right{
    margin-top: 4.4rem;
}

.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button{
    display: none;
}


/* ================== RECENT UPDATES ===================== */
.right .recent-updates{
    margin-top: 2.7rem;
}
.right .recent-updates h2{
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates{
    background: var(--color-light);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    overflow: auto;
    height: 250px;
}

.right .recent-updates .updates:hover{
    box-shadow: none;
}

.right .recent-updates .updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}


/* ================== QUICK ACTIONS ===================== */

.right .quick-action{
    margin-top: 2rem;
}

.right .quick-action h2{
    margin-bottom: 0.8rem;
}

.right .quick-action .item{
    background: var(--color-light);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

/*FILE-LEAVE HOVER ANIMATION*/
.right .quick-action .item.file-leave:hover {
    box-shadow: none;
    cursor: pointer;
    background-color:var(--color-p1);
    border: 2px solid var(--color-p3);
    color: var(--color-light);
}

.right .quick-action .item.file-leave:hover .text-muted{
    color: var(--color-light);
}

.right .quick-action .item.file-leave:hover .icon{
    background-color:var(--color-p3);
}



/*TIME-OFF HOVER ANIMATION*/
.right .quick-action .item.time-off:hover {
    box-shadow: none;
    cursor: pointer;
    background-color:var(--color-p1);
    border: 2px solid var(--color-p3);
    color: var(--color-light);
}

.right .quick-action .item.time-off:hover .text-muted{
    color: var(--color-light);
}

.right .quick-action .item.time-off:hover .icon{
    background-color:var(--color-p3);
}


/*TIME-OFF HOVER ANIMATION*/
.right .quick-action .item.add-credits:hover {
    box-shadow: none;
    cursor: pointer;
    background-color:var(--color-s2);
    border: 2px solid var(--color-s1);
    color: var(--color-light);
}

.right .quick-action .item.add-credits:hover .text-muted{
    color: var(--color-light);
}

.right .quick-action .item.add-credits:hover .icon{
    background-color:var(--color-s1);
}

.right .quick-action .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .quick-action .item .icon{
    padding: 0.6rem;
    color: var(--color-light);
    border-radius: 50%;
    background: var(--color-p1);
    display: flex;
}

.right .quick-action .item.add-credits .icon{
    background: var(--color-s1);
}


/*=================@MEDIA QUERIES 1=================*/
@media screen and (max-width: 1200px){
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }


    /*Greetings photo*/
    main .greetings .greet{
        width: 217px;
        height: 137px;
        margin-right: 50px;
        margin-top: 10px;
    }

    /*Greetings text*/
    .hello{
        color:var(--color-text);
        padding: 10px;
        margin-top: 30px;
    }
    .hello h2{
        font-size: 18px;
    }

    aside .logo h2{
        display:none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 2.5rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-leaves{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin:2rem ;
    }

    main .recent-leaves table{
        width: 83vw;
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child{
        display: none;
    }

    main table thead tr td:last-child,
    main table thead tr td:first-child{
        display: none;
    }



    /*=================@MEDIA QUERIES 2=================*/
    @media screen and (max-width: 768px){
        .container{
            width: 100%;
            grid-template-columns: 1fr;
        }
    }

    aside {
        position: fixed;
        left: -100%;
        background-color: var(--color-light);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to{
            left: 0;
        }

    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-leaves{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-leaves table{
        width: 100%;
        margin: 0;
    }

    .right{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top{
        position: fixed;
        top:0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background-color: var(--color-light);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-shadow);
     }

    .right .profile .info{
        display: none;
    }

    .right .top button{
        display: inline-block;
        background: transparent;
        cursor:pointer;
        color: var(--color-submit);
        position: absolute;
        left: 1rem;
    }

    .right .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-submit);
        position: absolute;
        left: 1rem;
    }

    .right .top button span{
        font-size: 2rem;
    }
}

