@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
    /*VARIABLES*/
    /*for nav bar*/
    --color-p1: #7D7DD2;
    --color-p2: #E9E9FF;
    --color-danger: #DF4759;
    --color-background: #FFFFFF;
    /*for buttons*/
    --color-p3: #5555A5;
    /*for background*/
    --color-p4: #F0F0F7;
    --color-p5: #FAF6FF;
    /*for buttons*/
    --color-s1: #A5A555;
    --color-s2: #B9BA7B;
    --color-s3: #E5E6CE;
    --color-input: #80868B;
    --color-text: #151111;
    --color-caption: #7d8da1;
    --color-submit: #4B4B4B;
    --color-light: #FAFAFA;
    --color-shadow: rgba(132, 139, 200, 0.18);


    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow:0 4px 4px var(--color-shadow);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    margin-top: 10px;
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-text);
    overflow-y: hidden;
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;


}

a{
    color: var(--color-input);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    margin-top: 10px;
    font-size: 20px;
}

h3{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
}
h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    border: 2px solid var(--color-p3);
    width: 2.8rem;
    height:  2.8rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;


}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.text-muted{
    color: var(--color-input);
}

.primary{
    color: var(--color-p1);
}
.primary_light{
    color: var(--color-p2);
}

.primary_button{
    color: var(--color-p3);
}

aside{
    height: 100vh;


}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    position: fixed;

}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img{
    width: 45px;
    height: 45px;
}

aside .close{
    display: none;
}

/*   ====================SIDEBAR====================   */
aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    top: 1rem;
    position: fixed;
    margin-top: 5rem;

}

aside .h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 5rem;
    transition: all 300ms ease;

}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;

}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a:last-child:hover{
    color:var(--color-danger);
}

aside .sidebar a.active{
    background-color: var(--color-p5);
    color: var(--color-p1);
    margin-left: 0;
}
aside .sidebar a.active:before{
    content:"";
    width: 6px;
    height: 100%;
    background-color:var(--color-p1) ;
}

aside .sidebar a.active span{
    color: var(--color-p1);
    margin-left: calc(1rem  - 3px);
}

aside .sidebar a:hover{
    color: var(--color-p1);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}


/* ==================MAIN===================== */
main{
    margin-top: 7rem;
    overflow: hidden;
    padding: 10px;
}
.scrollable-content {
    overflow-y: auto;
    padding: 10px;
    overflow-x:hidden;
    height: 700px;
}

 h1.location{
    color: var(--color-light);
     position: fixed;
}


.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    height: 70px;
    width: 100%;
    background-color: var(--color-p1);
    z-index: -1001;
    position: fixed;
    border-radius: 50px;
    margin-left: 180px;
}

.background{
    background-color: var(--color-p4);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1000;
    margin-top: 80px;
    margin-left: 180px;
    border-radius: 55px 0px 0px 0px;
}

main .greetings{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 180px;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--color-light);
}


.datetime {
    white-space: nowrap;
}

.datetime h2,
.datetime h3 {
    display: inline;
    margin: 0;
}

.datetime h2.date {
    margin-right: 10px;
}

.datetime h3 {
    color:var(--color-light);
    background-color:var(--color-p3);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}


main h2.date{
    color: var(--color-p3);
    font-size: 16px;
    display: inline;
}

main .greetings:hover{
    box-shadow: none;
}

/*Greetings photo*/
main .greetings .greet{
    position: relative;
    width: 229px;
    height: 145px;
    left: 100px;
    bottom: 10px;
}

 /*Greetings text*/
 .hello{
    color:var(--color-text);
    padding: 0 40px;
}
 .hello h2{
     font-size: 28px;
 }




main .insights {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    /*outline: 1px solid red; !* for debugging purposes *!*/
}

main .insights > div {
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover{
    box-shadow: none;
}

main .insights > div span {
    background-color: var(--color-p1);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-light);
}

main .insights > div span {
    background-color: var(--color-p1);
    color: var(--color-light);
}

main .insights > div.Employees span {
    background-color: var(--color-s2);
    color: var(--color-light);
}

main .insights > div.Departments span {
    background-color: var(--color-p3);
    color: var(--color-light);
}

main .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

main .insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights .svg{
    width: 7rem;
    height: 7rem;
}

main .insights svg circle{
    fill: none;
    stroke: var(--color-light);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px,5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .progress .number{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small{
    color: var(--color-light);
    margin-top: 1.3rem;
    display: block;
}



.insights .Leaves{
    background-color: var(--color-p3);
    color: var(--color-light);
    fill: var(--color-light);
}

.insights .Employees{
    background-color: var(--color-s1);
    color: var(--color-light);
    fill: var(--color-light);
}

.insights .Departments{
    background-color: var(--color-p1);
    color: var(--color-light);
    fill: var(--color-light);
}


/* ==================RECENT LEAVES===================== */
main .recent-leaves{
    margin-top: 2rem;
}

main .recent-leaves h2{
    margin-bottom: 0.8rem;
}

main .recent-leaves table{
    background-color: var(--color-light);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-leaves table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-shadow);
    color: var(--color-input);
}

main table tbody td.primary:hover{
    text-decoration: underline;
    font-weight: bold;
}

main table tbody tr:last-child{
    border: none;
}

main .recent-leaves a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-p1);
}

main .recent-leaves a:hover{
    text-decoration: underline;
    font-weight: bold;
}


/* ================== RIGHT ===================== */
.right{
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button{
    display: none;
}


.header .profile{
    margin-left: 75rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-align: right;
    color: var(--color-light);
    position: fixed;
}

 .profile .text-muted{
    color: var(--color-light);
}


/* ================== RECENT UPDATES ===================== */
.right .recent-updates{
    margin-top: 6.7rem;
}
.right .recent-updates h2{
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates{
    background: var(--color-light);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    overflow: auto;
    height: 250px;
}

.right .recent-updates .updates:hover{
    box-shadow: none;
}

.right .recent-updates .updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}


/* ================== QUICK ACTIONS ===================== */

.right .quick-action{
    margin-top: 2rem;
}

.right .quick-action h2{
    margin-bottom: 0.8rem;
}

.right .quick-action .item{
    background: var(--color-light);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

/*FILE-LEAVE HOVER ANIMATION*/
.right .quick-action .item.file-leave:hover {
    box-shadow: none;
    cursor: pointer;
    background-color:var(--color-p1);
    border: 2px solid var(--color-p3);
    color: var(--color-light);
}

.right .quick-action .item.file-leave:hover .text-muted{
    color: var(--color-light);
}

.right .quick-action .item.file-leave:hover .icon{
    background-color:var(--color-p3);
}



/*TIME-OFF HOVER ANIMATION*/
.right .quick-action .item.time-off:hover {
    box-shadow: none;
    cursor: pointer;
    background-color:var(--color-p1);
    border: 2px solid var(--color-p3);
    color: var(--color-light);
}

.right .quick-action .item.time-off:hover .text-muted{
    color: var(--color-light);
}

.right .quick-action .item.time-off:hover .icon{
    background-color:var(--color-p3);
}


/*TIME-OFF HOVER ANIMATION*/
.right .quick-action .item.add-credits:hover {
    box-shadow: none;
    cursor: pointer;
    background-color:var(--color-s2);
    border: 2px solid var(--color-s1);
    color: var(--color-light);
}

.right .quick-action .item.add-credits:hover .text-muted{
    color: var(--color-light);
}

.right .quick-action .item.add-credits:hover .icon{
    background-color:var(--color-s1);
}

.right .quick-action .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .quick-action .item .icon{
    padding: 0.6rem;
    color: var(--color-light);
    border-radius: 50%;
    background: var(--color-p1);
    display: flex;
}

.right .quick-action .item.add-credits .icon{
    background: var(--color-s1);
}


/*=================@MEDIA QUERIES 1=================*/
@media screen and (max-width: 1200px){
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }


    /*Greetings photo*/
    main .greetings .greet{
        width: 217px;
        height: 137px;
        margin-right: 50px;
        margin-top: 10px;
    }

    /*Greetings text*/
    .hello{
        color:var(--color-text);
        padding: 10px;
        margin-top: 30px;
    }
    .hello h2{
        font-size: 18px;
    }

    aside .logo h2{
        display:none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 2.5rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-leaves{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin:2rem ;
    }

    main .recent-leaves table{
        width: 83vw;
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child{
        display: none;
    }

    main table thead tr td:last-child,
    main table thead tr td:first-child{
        display: none;
    }



    /*=================@MEDIA QUERIES 2=================*/
    @media screen and (max-width: 768px){
        .container{
            width: 100%;
            grid-template-columns: 1fr;
        }
    }

    aside {
        position: fixed;
        left: -100%;
        background-color: var(--color-light);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to{
            left: 0;
        }

    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-leaves{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-leaves table{
        width: 100%;
        margin: 0;
    }

    .right{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top{
        position: fixed;
        top:0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background-color: var(--color-light);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-shadow);
     }

    .right .profile .info{
        display: none;
    }

    .right .top button{
        display: inline-block;
        background: transparent;
        cursor:pointer;
        color: var(--color-submit);
        position: absolute;
        left: 1rem;
    }

    .right .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-submit);
        position: absolute;
        left: 1rem;
    }

    .right .top button span{
        font-size: 2rem;
    }
}

