
.body-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    gap: 40px;
    padding: 5px;
    margin-top: 8rem;
    width: calc(100vw - 20rem);
    height: min-content;
}




.body-item{
    display: flex;
    align-items: center;
}

.button-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    height: 7rem;
    width: min-content;
    padding: 5px;
    border-radius: var(--border-radius-2);
    background-color: var(--color-light);
    padding: 10px 15px 10px 15px;
    box-shadow: var(--box-shadow);

}

/*ADD ADMIN*/

.button1{
    display: flex;
    position: relative;
    justify-content: center;
    background-color: var(--color-s2);
    color: var(--color-light);
    border-radius: var(--border-radius-2);
    height: 40px;
    width: 140px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.button1:hover{
    background-color: var(--color-s1);
    box-shadow: none;
}

.button1 button{
    color: var(--color-light);
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
}

.button1 .material-symbols-rounded{
    color: var(--color-light);
    margin-top:8px;
    height: min-content;
    margin-right: 4px;
}

.button1 span{
    margin-top: 2px;
}


/*VIEW LOGS*/
.button2{
    display: flex;
    position: relative;
    justify-content: center;
    background-color: var(--color-b3);
    color: var(--color-light);
    border-radius: var(--border-radius-2);
    height: 40px;
    width: 140px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.button2:hover{
    background-color: var(--color-b2);
    box-shadow: none;
}

.button2 button{
    color: var(--color-light);
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
}

.button2 .material-symbols-rounded{
    color: var(--color-light);
    margin-top:8px;
    height: min-content;
    margin-right: 4px;
}

.button2 span{
    margin-top: 2px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: var(--color-light);
    width: 52rem;
    height: 7rem;
    border-radius: var(--border-radius-3);
    padding: 10px 15px 10px 15px;
    box-shadow: var(--box-shadow);
}



.grid-container .grid-item .search {
    display: flex;
    height: 40px;
    width: 400px;
    padding: 5px;
    border-radius: var(--border-radius-2);
    background-color: var(--color-p2);
}

.grid-item span {
    margin-top: 2px;
    color: var(--color-input);
}

.searchField {
    background-color: var(--color-p2);
    width: 400px;
    height: 30px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.category {
    background-color: var(--color-light);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    width: 100px;
    height: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: var(--border-radius-2);
    width: 160px;
    height: 40px;
}

.dropdown::after {
    content: "\f078"; /* Font Awesome chevron-down icon */
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.dropdown select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: var(--border-radius-2);
    padding: 5px 30px 5px 10px;
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.grid-container button {
    background-color: var(--color-p1);
    color: var(--color-light);
    padding: 10px;
    border-radius: var(--border-radius-2);
    height: 40px;
    width: 120px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.grid-container button:hover{
    background-color: var(--color-p3);
    box-shadow: none;
}

