@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.underline {
    cursor: pointer;
    margin-bottom: 5px;
    --bs-text-opacity: 1;
    /*color: rgba(var(--bs-danger-rgb),var(--bs-text-opacity))*/
    color: var(--color-p1);

}

.underline:hover{
    text-decoration: underline!important;
}


#formFile {
    display: none;
}

#Editsex {
    margin-top: -7px;
    width: 100%;
    height: 35px;
    border-radius:0.25rem;

}

#Editdepartment {
    margin-top: -7px;
    width: 100%;
    height: 35px;
    border-radius:0.25rem;

}

.purple{
    color: var(--color-p1);
}

.purple:hover{
    color: var(--color-p3);
}

.purple:active{
    color: var(--color-p3);
}


#ViewModal .modal-dialog{
    width: 400px;
}

#EditEmployee .modal-dialog{
    max-width: 700px; /* Adjust the width as needed */
    width: 100%; /* Optional: Set a percentage width if needed */
}

#ViewModal span{
    font-size: 14px;
}

#ViewModal .material-symbols-rounded{
    font-size: 25px;
}

#EditEmployee .modal-body .material-symbols-rounded{
    font-size: 15px;
}


#ViewModal label{
    font-size: 14px;

}
.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}



.edit-upload{
    width: 100px;
    position: relative;
    margin: auto;
}
.edit-upload img{
    border-radius: 50%;
    border: 3px solid var(--color-p1);
}


.edit-upload .round{
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--color-p1);
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    padding-top: 5px;
}

.edit-upload .round input[type = "file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;
}
.edit-upload .round input[type=file]:hover + #boot-icon {
    cursor: pointer;
}







.upload {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    /*border: 2px solid red;*/
    place-items: center;
    padding: 10px;
}


#image{
    border-radius: 50%;
}




.upload .upload-placeholder{
    border: 2px solid #e0e0e0;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden;
}

.upload .upload-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and fill the container */
}











#employeeTable th {
    text-align: center;
    vertical-align: middle;
}


#dropdownMenuButton1 {
    border-radius: var(--border-radius-1);
}

/* Style for the disabled "Add as Admin" button */
#addAdminButton[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: no-drop;
    pointer-events: auto;
}


#UpdateEmployee[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: no-drop;
    pointer-events: auto;
}



.vl {
    border-left: 2px solid var(--color-shadow);
    height: 100%;
}

.whole-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
    padding: 10px;
    /*border: 2px solid red;*/
    margin-top: 8rem;
    height: calc(100vh - 9rem);
}

.tablead{
    padding: 20px;
    background-color: #fff;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    overflow: auto;
}

.form-select{
    width:15rem;
    border-radius: var(--border-radius-2);
    height: 40px;
}

.body-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    gap: 20px;
    padding: 5px;
    width: calc(100vw - 20rem);
    height: min-content;

}


.body-item{
    display: flex;
    align-items: center;
}

.button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: 7rem;
    width: min-content;
    padding: 5px;
    border-radius: var(--border-radius-2);
    background-color: var(--color-light);
    padding: 10px 15px 10px 15px;
    box-shadow: var(--box-shadow);

}

/*ADD ADMIN*/

.button1{
    display: flex;
    position: relative;
    justify-content: center;
    background-color: var(--color-s2);
    color: var(--color-light);
    border-radius: var(--border-radius-2);
    height: 40px;
    width: 140px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.button1:hover{
    background-color: var(--color-s1);
    box-shadow: none;
}

.button1 button{
    color: var(--color-light);
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
}

.button1 .material-symbols-rounded{
    color: var(--color-light);
    margin-top:8px;
    height: min-content;
    margin-right: 4px;
}

.button1 span{
    margin-top: 2px;
}


/*ARCHIVE*/
.button2{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--color-b3);
    color: var(--color-light);
    border-radius: var(--border-radius-2);
    height: 40px;
    width: 140px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.button2:hover{
    background-color: var(--color-b2);
    box-shadow: none;
}

.button2 button{
    color: var(--color-light);
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
}

.button2 .material-symbols-rounded{
    color: var(--color-light);
    height: min-content;
    margin-right: 4px;
}

.button2 span{
    margin-top: 2px;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: var(--color-light);
    width: min-content;
    height: 7rem;
    border-radius: var(--border-radius-3);
    padding: 10px 15px 10px 15px;
    box-shadow: var(--box-shadow);
}



.grid-container .grid-item .search {
    display: flex;
    height: 40px;
    width: calc(100vw - 74.5rem);
    padding: 5px;
    border-radius: var(--border-radius-2);
    background-color: var(--color-p2);

}

.grid-item span {
    margin-top: 2px;
    color: var(--color-input);
}

.searchField {
    background-color: var(--color-p2);
    width: 100%;
    height: 30px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.category {
    background-color: var(--color-light);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    width: 100px;
    height: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: var(--border-radius-2);
    /*width: 160px;*/
    /*height: 40px;*/
}

.actions{
    display: grid;
    grid-template-columns: 30px 1fr;
    width: fit-content;
    /*border: 2px solid red;*/
}

.actions span{
    color:var(--color-p1);
}

.actions h3{
    color: var(--color-input);
}

.dropdown .btn{
    height: 40px;
    width: 140px;
}


.grid-container button {
    background-color: var(--color-p1);
    color: var(--color-light);
    padding: 10px;
    border-radius: var(--border-radius-2);
    height: 40px;
    width: 120px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.grid-container button:hover{
    background-color: var(--color-p3);
    box-shadow: none;

}

